#tag1 {
    /* background-color: red; */
    padding: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 20px 0;
}

.container {
    margin: 0px;
}

.container-fluid {
    margin: 20px;
}

div {
    font-size: 40px;
}
div {
    font-size: 20px;
}

table, th, tr, td {
    border: 2px solid black;
    padding: 10px;
}
th {
    background-color: blue;
}

table {
    border-collapse: collapse;
}

body {
    font-size: 20px;
}

table {
    font-size: 15px;
    border-radius: 10px;
    margin: auto;
}

h1 {
    text-align: center;
}
header {
    font-size: 25px;
}

.list {
    background-color: aqua;
}

